body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: space-between;
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);

}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.comment-list {
  padding: 20px;
}

a {
  color: white;
}

.MuiFormControl-fullWidth {
  width: 100% !important;
}

#book-details {
  flex-direction: column;
}

#field-wrapper {
  flex-direction: column;
}

#comment-button {
  justify-content: flex-end;
}

#spinner {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.MuiCircularProgress-root {
  height: 120px !important;
  width: 120px !important;
}

.book {
  padding-top: 20px;
}

.wrapper .book #title {
  font-size: 1.7rem;
}
